

A4-Paper
{
  width: 210mm;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  bolder-color: #ff0055;
  text-wrap: suppress;
  padding: 10mm;
  height: 297.2mm;
  word-wrap: break-word;
  overflow: hidden;
  margin: 0;
  text-rendering: optimizeLegibility;
}

@font-face
{
  font-style: normal;
  font-family: Pamela;
  src: url('http://localhost/I/Fonts/Pamela.ttf') format('truetype');
}

body
{
  font-family: Arial, sans-serif;
  margin: 10;
}

.weird3
{
  font-size: 25px;
  color: #777;
  font-family: Pamela;
}

.green
{
  color: #4d4;
}

